@model ATMWebApplication.ViewModels.WithdrawRequestViewModel

@{
    ViewData["Title"] = "ATM Withdraw";
}

<h2>ATM Withdraw</h2>
<h3>Available Notes in ATM:</h3>

<table border="1" cellpadding="5">
    <tr>
        <th>Denomination</th>
        <th>Count</th>
    </tr>

    @foreach (var note in Model.AvailableNotes)
    {
        <tr>
            <td>@note.Denomination</td>
            <td>@note.Count</td>
        </tr>
    }
</table>

<br />



<form asp-action="Withdraw" method="post">

    <div>
        <label>Account ID:</label><br />
        <input asp-for="AccountId" />
        <span asp-validation-for="AccountId" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Amount:</label><br />
        <input asp-for="Amount" type="text" inputmode="numeric" placeholder="Enter Amount" />
        <span asp-validation-for="Amount" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Withdraw</button>

</form>