@model ATMWebApplication.ViewModels.WithdrawRequestViewModel

@{
    ViewData["Title"] = "ATM Withdraw";
}

<h2>ATM Withdraw</h2>

<form asp-action="Withdraw" method="post">

    <div>
        <label>Account ID:</label><br />
        <input asp-for="AccountId" />
        <span asp-validation-for="AccountId" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Amount:</label><br />
        <input asp-for="Amount" type="number" />
        <span asp-validation-for="Amount" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Withdraw</button>

</form>