@model HelloWorldMVC1.Models.Students;

@{
    ViewData["Title"] = "Students details";
}

<h2> Students details header </h2>

<p>

    <b>@Model.course</b>
    <b>@Model.id</b>
    <b>@Model.name</b>



</p>